<%- include('partials/header') %>

<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">Seller or Buyer</h1>
    <hr class="border border-danger border-2 opacity-50">
    <a class="btn btn-light btn-lg" href="/seller" role="button">Seller</a>
    <a class="btn btn-dark btn-lg" href="/buyer" role="button">Buyer</a>

  </div>
</div>

<%- include('partials/footer') %>
